<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Covid-19 Statistics</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="">
        <ion-button color="" slot="base">
            <ion-menu-button  color="light">
                <ion-icon name="earth-outline"></ion-icon>
                country's
            </ion-menu-button>
        </ion-button>
    </div>
    <ion-item>
        <ion-label>Saved Settings</ion-label>
        <ion-select [(ngModel)]="selectedSaveIndex" (ionChange)="setSavedData()">
            <ion-select-option *ngFor="let item of saveData; let i = index"
                               value="{{i}}">{{item.Name}}</ion-select-option>
        </ion-select>
        <ion-button (click)="delSavedData()">Delete</ion-button>

    </ion-item>


    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="container ">
        <div class="function">
            <label for="country">
                Country :
            </label>
            <ion-title size="small" id="country">{{folder}}</ion-title>
        </div>
        <div class="function">
            <label class="date" for="startTime">
                start date:
            </label>
            <ion-item>
                <ion-input id="startTime" type="text" [(ngModel)]="startTime" placeholder="jjjj-mm-dd"></ion-input>
            </ion-item>
        </div>
        <div class="function">
            <label class="date" for="endTime">
                end date :
            </label>
            <ion-item>
                <ion-input id="endTime" type="text" [(ngModel)]="endTime" placeholder="jjjj-mm-dd"></ion-input>
            </ion-item>

        </div>
        <div class="funtion">
            <ion-button (click)="setTime()">set time</ion-button>
        </div>
        <div class="function">
            <label for="saveName">
                save name:
            </label>
            <ion-item>
                <ion-input id="saveName" type="text" [(ngModel)]="saveName"></ion-input>
            </ion-item>
        </div>
        <div class="funtion">
            <ion-button (click)="saveSettings()">save settings</ion-button>
        </div>
    </div>

    <div id="container">
        <h3>{{msg}}</h3>
        <h4>death:</h4>
        <p>{{deaths}}</p>
        <h4>confirmed:</h4>
        <p>{{confirmed}}</p>
        <h4>recovered:</h4>
        <p>{{recovered}}</p>
        <h4>active:</h4>
        <p>{{active}}</p>
    </div>
</ion-content>
